{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

<ul>
    <a href="{{ path('category',{'categoryName': 'politics'}) }}">Politics</a>

    <a href="{{ path('category',{'categoryName': 'coronavirus'}) }}"> Coronavirus</a>

    <a href="{{ path('category',{'categoryName': 'tech'}) }}">Tech</a>

    <a href="{{ path('category',{'categoryName': 'world'}) }}">World</a>
</ul>
<a href="{{ path('artical_index') }}">back to list</a>
