{% extends 'base.html.twig' %}


{% block content %}


    <div >

        {% for key, artical in articals %}

            {% if artical.isEnabled == true %}

                {% set numbers = key %}

                <th>{{ numbers }}</th><br>

                <th>{{ artical.name }}</th>

                <th>
                    <span class="enable_articals">is enable artical ?</span>
                    <p>Yes</p>
                </th>

            {% else %}

                <th>{{ key }}</th><br>

                <th>{{ artical.name }}</th>

                <th>
                    <span class="no_enable_articals">is enable artical ?</span>
                    <p>No</p>
                </th>

                <th> <a href="{{ path('artical_edit', {'id': artical.id}) }}">edit</a></th><br>

            {% endif %}

        {% endfor %}

    </div>

{% endblock %}


 {% block footer %}
     {#<a>     <img src="{{ asset('image/Screenshot from 2021-05-03 18-18-43.png')}}" alt="Symfony!">  </a>#}





 {% endblock %}

