{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
        <table>
            <caption class="caption" >Home Page</caption><br>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>IsEnabled</th>
            <th>Created</th>

        </tr>
        <tr>
            <th>{{ artical.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ artical.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ artical.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ artical.created ? artical.created|date('Y-m-d H:i:s') : '' }}</th>
        </tr>

        </table><br>

    <a href="{{ path('artical_index') }}">back to list</a>

    <a href="{{ path('artical_edit', {'id': artical.id}) }}">edit</a>

{% endblock %}
