{% extends 'base.html.twig' %}

{% block title %}Artical index{% endblock %}

{% block content %}
    <h1>Artical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>Description</th>
                <th>IsEnabled</th>
                <th>Created</th>
                <th>Artical Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artical in articals %}
            <tr>
                <td>{{ artical.id }}</td>
                <td>{{ artical.name }}</td>
                <td>{{ artical.description }}</td>
                <td>{{ artical.isEnabled ? 'Yes' : 'No' }}</td>
                <td>{{ artical.created ? artical.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ artical.articalType }}</td>
                <td>
                    <a href="{{ path('artical_show', {'id': artical.id}) }}">show</a>
                    <a href="{{ path('artical_edit', {'id': artical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('artical_new') }}">Create new</a>
{% endblock %}
