
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>IsEnabled</th>
            <th>Created</th>
            <th>Category</th>

        </tr>

        <tr>
            <th>{{ articals.description }}</th>
            <th>{{ articals.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ articals.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ articals.created ? artical.created|date('Y-m-d H:i:s') : '' }}</th>
            <th>{{ articals.category }}</th>

        </tr>
    </table>


{% endblock %}