{% extends 'base.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>IsEnabled</th>
            <th>Created</th>
            <th>Category</th>

        </tr>

        <tr>
            <th>{{ artical.description }}</th>
            <th>{{ artical.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ artical.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ artical.created ? artical.created|date('Y-m-d H:i:s') : '' }}</th>
            <th>{{ artical.category }}</th>
        </tr>
    </table>


{% endblock %}
