{% extends 'base.html.twig' %}

{% block title %}Artical{% endblock %}

{% block content %}
<table>
    <caption class="caption" >Home Page</caption><br>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>IsEnabled</th>
        <th>Created</th>
        <th>Category</th>

    </tr>


    {% for artical in articals %}
        <tr>
            <th>{{ artical.description }}</th>
            <th>{{ artical.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ artical.isEnabled ? 'Yes' : 'No' }}</th>
            <th>{{ artical.created ? artical.created|date('Y-m-d H:i:s') : '' }}</th>
            <th>{{ artical.category }}</th>
            <th> <a href="{{ path('artical_edit', {'id': artical.id}) }}">edit</a></th>
            <th>{{ include('artical/_delete_form.html.twig') }}</th>

        </tr>
    {% endfor %}
</table>

<a href="{{ path('artical_index') }}">back to list</a>

{% endblock %}